.bookings {
    position: relative;
    width: 100%;
    min-height: 150vh;
    overflow: hidden;
}

.sliding-section {

    width: 122%;
    display: flex;
    left: -3%;
    position: absolute;
    gap: 3em;
    filter: brightness(0.3);
    height: 150vh;
    background-color: #644616;
}

.grid-slide {
    transform: rotate(-7deg);
    display: flex;animation: yscroll 40s infinite;
    gap: 1em;
    flex-direction: column;
}
@keyframes yscroll {
    0%{
      transform: translateY(0) rotate(-7deg); ;
    }
      100% {
        transform: translateY(-100%)rotate(-7deg); ;
      }
}
   

.grid-slide img {


    width: 390px;
    height: 490px;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 1px;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: #ffb131;
    font-weight: 700;
    z-index: 10;
    text-shadow: 3px 3px 10px black;
}



/* Reservation Form */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F8F4E0;
    padding: 50px;
    border-radius: 20px;
    width: 90%;
    max-width: 690px;
    z-index: 3;
    box-shadow: -.361312px .361312px #0000000f, -1.37312px 1.37312px #0000003b, -6px 6px #000;
}

.reservationForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group.full {
    grid-column: 1 / -1;
}

label {
    font-weight: 700;
    margin-bottom: 8px;
    color: #333;
    font-family: inter;
    font-size: 18px;
}

input,
textarea {
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 15px;
    font-family: inter;
    transition: all 0.3s;
    background: white;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #F5A623;
}

textarea {
    resize: vertical;
    font-family: inter;
    min-height: 100px;

}

.reserve-btn {
    background: #F5A623;
    color: #333;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.reserve-btn:hover {
    background: #E09612;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(245, 166, 35, 0.4);
}



@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }

    nav {
        padding: 15px 20px;
    }

    .form-container {
        padding: 30px 20px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-400vw);
        }
    }
}