.location {
    width: 100%;
    min-height: 120vh;
    background-color: #FFFFFF;
    position: relative;
}

.sliderof-location {
    width: 100%;
    gap: 3em;
    overflow: hidden;
    padding: 30px 0px;
    background-color: #FAB037;
    display: flex;
    border-top: 3px solid #000000;



}
@keyframes scrollx {
   0%{
    transform: translateX(0%);
   } 
   100%{
    transform: translateX(-100%);
   }
}

.sliderof-location img {
    width: 23px;
    height: 23px;
}

.location-marque {
    width: 100%;    animation: scrollx 50s infinite;
    font-size: 24px;
    color: #2d3d01;
    font-family: inter;
    font-weight: 900;
    display: flex;
    white-space: nowrap;
    gap: 1em;
}
.location-track{
    display: flex;gap: 1em;
}
.location-img {
    width: 100%;
    position: absolute;
    height: 100%;
    filter: brightness(0.5);
}

.location-contents {
    width: 100%;

    position: relative;
    top: 25%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.location-h2 {
    font-size: 55px;
    text-align: center;
    width: 100%;
    text-align: center;
    color: #fab032;
}

.location-grid {
    width: 100%;

    padding: 0 100px;

    gap: 1em;
    display: flex;
}

.grids {
    flex: 1;


    border-bottom-width: 2px;
    border-color: var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, #000);
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    background-color: var(--token-456e293f-6fe3-4109-a0c7-d3c9b622cb9d, #fff);
    box-shadow: -6px 6px 0px 0px var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, #000);
    will-change: var(--framer-will-change-override, transform);
    border-radius: 16px;
    flex-direction: column;
    padding: 40px;
    gap: 2.3em;
    display: flex;
    position: relative;
    overflow: hidden;
}

.grid {
    flex: 1;
    border-bottom-width: 2px;
    border-color: var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, #000);
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    background-color: #f8f4e0;
    box-shadow: -6px 6px 0px 0px var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, #000);
    will-change: var(--framer-will-change-override, transform);
    border-radius: 16px;
    flex-direction: column;
    padding: 40px;
    gap: 2.3em;
    display: flex;
    position: relative;
    overflow: hidden;
}

.collection {
    display: flex;
    font-family: inter;
    gap: 4px;
}

.collection img {
    width: 20px;
    height: 20px;
}

.gridcollection {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.map-button button {

    cursor: pointer;

    font-size: 20px;
    font-family: curve;
    justify-content: center;
    gap: 10px;

    padding: 10px 24px;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: visible;
    border-bottom-width: 2px;
    border-color: var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, rgb(0, 0, 0));
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    background-color: var(--token-456e293f-6fe3-4109-a0c7-d3c9b622cb9d, rgb(255, 255, 255));
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) -6px 6px 0px 0px;
    opacity: 1;
    will-change: auto;

}

.gridh2 {
    color: #3d2101;
}

.ngridh {
    font-family: inter;
    display: flex;
    gap: 3em;
    flex-direction: column;
}

.ngridh:nth-child(1) {
    font-size: 24px;
}

.collection p {
    font-size: 18px;
    font-weight: 370;
}

@media (max-width:1200px) {
    .location-grid {
        flex-direction: column;
    }

    .grids {
        gap: 0.93em;
    }

    .gridcollection {
        gap: 1em;
    }

    .location-h2 {
        font-size: 35px;
    }
}

@media (max-width:768px) {
    .location-grid {
        flex-direction: column;
        padding: 15px;
    }

    .location-h2 {
        font-size: 24px;
    }

    .collection p {
        font-size: 14px;
    }

    .map-button button {
        padding: 8px 16px;
    }
}