.page2 {
    width: 100%;
    min-height: 160vh;flex-direction: column;
    display: flex;
    align-items: center;position: relative;overflow-x: hidden;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.box-model {
    padding: 2vw 2vw;min-height: 100vh;
    text-align: center;
    display: flex;
    width: 50%;max-width: 1200px;
    gap: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-model h2 {
    font-size: 4.2em;
    color: #3D2101;
}

.box-model p {
    font-size: 1.5em;
    font-weight: 650;line-height: 120%;
    color: #3D2101;
}

.box-model button {
    border-bottom-width: 2px;
    border-color: var(--token-23bfebc9-8e5a-4142-91ca-fb94b67c5e2b, rgb(0, 0, 0));
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) -2px 2px 0px 0px;
    opacity: 1;
    will-change: auto;
    width: 250px;
    padding: 1vw 0.6vw;

text-transform: capitalize;

    font-family: "Calistoga", sans-serif;

    font-size: 20px;
    font-style: normal;
    font-variation-settings: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.2em;

}
.box-model button img{
    width: 96px;height: 16px;
}

.an1 img,.an2 img{
    width: 130px;
    height: 130px;
}
.an1 {
    transform: translateX(-125%) translateY(30%);
}
.an2 {
       transform: translateX(125%) translateY(-30%);
}
.an1,.an2{
    width: 100%;transition: 0.3s ease all;
    display: flex;position: absolute;
}
.an2{
justify-content: flex-end;bottom: 55%;right: 5%;
}
.an1{
    top: 0;left: 5%;
}

@media (max-width:1200px) {
.box-model{
    width: 100%;padding: 1vw 6vw;
}


.box-model h2 {
    font-size: 40px;
    color: #3D2101;
}

.box-model p {
    font-size: 20px;

}
.an1 img,.an2 img{
    width: 100px;
    height: 100px;
}
}

@media (max-width:768px) {
.box-model{
    width: 100%;padding: 1vw 6vw;min-height: 60vh;
}
.page2{
    min-height: 150vh;
}
.box-model h2 {
    font-size: 30px;
    color: #3D2101;
}

.box-model p {
    font-size: 16px;

}
.an1 img,.an2 img{
    width: 45px;
    height: 45px;
}

}


